{% extends 'base.html' %}
{% load static %}

{% block tituloPaginas %}  
Asientos
{% endblock%}

{% block contenidoPagina %}

<h1 style="text-align: center;color:red">Contenido de Asientos </h1>

<section>
    <div style="display: flex;justify-content:center;">
        <table>
            <thead>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Fecha</th>
                <th>Email</th>
            </thead>
            {% for personas in familiar %}
            <tr>
                <td>{{personas.nombre}}</td>
                <td>{{personas.apellido}}</td>
                <td>{{personas.fechaDeNacimiento}}</td>
                <td>{{personas.email}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>    
</section>

{% endblock %}