{% extends 'base.html' %}
{% load static %}

{% block tituloPaginas %}  
Inicio
{% endblock%}

{% block contenidoPagina %}
<h1 style="text-align: center;color:red">Contenido de inicio</h1>
<section>
    <div style="display: flex;justify-content:center;">
        <table>
            <thead>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Fecha</th>
                <th>Email</th>
            </thead>
            
            {% for familiar in familia %}
            <tr>
                <td>{{familiar.nombre}}</td>
                <td>{{familiar.apellido}}</td>
                <td>{{familiar.fechaDeNacimiento}}</td>
                <td>{{familiar.email}}</td>
            </tr>
            
    </div>    
            {% endfor %}
            
        </table>
        
</section>
<div style="text-align:center ;">
    <a style="text-decoration: none" href="{% url 'formulario_personas' %}">+ Añadir Personas</a>
</div>

{% endblock %}